<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<key>spriteFrameFiles</key>
	<array>
		<string>backgroundsMisc2.plist</string>
		<string>characterAny.plist</string>
		<string>backgroundsCubes.plist</string>
		<string>items.plist</string>
		<string>characters.plist</string>
		<string>backgroundsCardboard2.plist</string>
		<string>backgroundsWater.plist</string>
		<string>tiles.plist</string>
		<string>backgroundsCardboard1.plist</string>
		<string>backgroundsSpace.plist</string>
		<string>backgroundsBubbles.plist</string>
		<string>backgroundsMisc1.plist</string>
		<string>backgroundsCity.plist</string>
		<string>enemies.plist</string>
		<string>environment.plist</string>
	</array>
</dict>
</plist>
