<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>characters/blue_foot_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{3979, 923}, {176, 116}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {176, 116}}</string>
			<key>sourceSize</key>
			<string>{177, 117}</string>
		</dict>
		<key>characters/blue_foot_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{1526, 862}, {176, 117}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 1}, {176, 117}}</string>
			<key>sourceSize</key>
			<string>{180, 120}</string>
		</dict>
		<key>characters/blue_foot_iso.png</key>
		<dict>
			<key>frame</key>
			<string>{{2188, 695}, {174, 135}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {174, 135}}</string>
			<key>sourceSize</key>
			<string>{174, 135}</string>
		</dict>
		<key>characters/blue_head_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{1028, 505}, {496, 379}}</string>
			<key>offset</key>
			<string>{0, 27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47, 0}, {496, 379}}</string>
			<key>sourceSize</key>
			<string>{590, 435}</string>
		</dict>
		<key>characters/blue_head_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{530, 505}, {496, 379}}</string>
			<key>offset</key>
			<string>{0, 27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {496, 379}}</string>
			<key>sourceSize</key>
			<string>{496, 435}</string>
		</dict>
		<key>characters/blue_head_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{1704, 519}, {482, 378}}</string>
			<key>offset</key>
			<string>{-58, -53}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 161}, {482, 378}}</string>
			<key>sourceSize</key>
			<string>{598, 595}</string>
		</dict>
		<key>characters/blue_symbol.png</key>
		<dict>
			<key>frame</key>
			<string>{{2341, 518}, {527, 527}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {527, 527}}</string>
			<key>sourceSize</key>
			<string>{527, 527}</string>
		</dict>
		<key>characters/green_foot_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{2628, 1284}, {176, 116}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {176, 116}}</string>
			<key>sourceSize</key>
			<string>{177, 117}</string>
		</dict>
		<key>characters/green_foot_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{2628, 1047}, {176, 117}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 1}, {176, 117}}</string>
			<key>sourceSize</key>
			<string>{180, 120}</string>
		</dict>
		<key>characters/green_foot_iso.png</key>
		<dict>
			<key>frame</key>
			<string>{{3928, 1900}, {174, 135}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {174, 135}}</string>
			<key>sourceSize</key>
			<string>{174, 135}</string>
		</dict>
		<key>characters/green_head_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{1704, 899}, {460, 408}}</string>
			<key>offset</key>
			<string>{5, -14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28, 87}, {460, 408}}</string>
			<key>sourceSize</key>
			<string>{506, 554}</string>
		</dict>
		<key>characters/green_head_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{2166, 1047}, {460, 408}}</string>
			<key>offset</key>
			<string>{0, 8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{100, 95}, {460, 408}}</string>
			<key>sourceSize</key>
			<string>{660, 615}</string>
		</dict>
		<key>characters/green_head_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{530, 886}, {459, 401}}</string>
			<key>offset</key>
			<string>{-36, -18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46, 101}, {459, 401}}</string>
			<key>sourceSize</key>
			<string>{625, 567}</string>
		</dict>
		<key>characters/green_symbol.png</key>
		<dict>
			<key>frame</key>
			<string>{{2870, 974}, {527, 527}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {527, 527}}</string>
			<key>sourceSize</key>
			<string>{527, 527}</string>
		</dict>
		<key>characters/pink_foot_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{3979, 1279}, {176, 116}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {176, 116}}</string>
			<key>sourceSize</key>
			<string>{177, 117}</string>
		</dict>
		<key>characters/pink_foot_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{1526, 743}, {176, 117}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 1}, {176, 117}}</string>
			<key>sourceSize</key>
			<string>{180, 120}</string>
		</dict>
		<key>characters/pink_foot_iso.png</key>
		<dict>
			<key>frame</key>
			<string>{{2188, 519}, {174, 135}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {174, 135}}</string>
			<key>sourceSize</key>
			<string>{174, 135}</string>
		</dict>
		<key>characters/pink_head_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{2920, 1}, {577, 514}}</string>
			<key>offset</key>
			<string>{0, -8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 74}, {577, 514}}</string>
			<key>sourceSize</key>
			<string>{599, 647}</string>
		</dict>
		<key>characters/pink_head_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{2341, 1}, {577, 515}}</string>
			<key>offset</key>
			<string>{0, -4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 74}, {577, 515}}</string>
			<key>sourceSize</key>
			<string>{599, 654}</string>
		</dict>
		<key>characters/pink_head_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{1762, 1}, {577, 516}}</string>
			<key>offset</key>
			<string>{-21, -4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 72}, {577, 516}}</string>
			<key>sourceSize</key>
			<string>{643, 653}</string>
		</dict>
		<key>characters/pink_symbol.png</key>
		<dict>
			<key>frame</key>
			<string>{{3399, 1452}, {527, 527}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {527, 527}}</string>
			<key>sourceSize</key>
			<string>{527, 527}</string>
		</dict>
		<key>characters/red_foot_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{2628, 1166}, {176, 116}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {176, 116}}</string>
			<key>sourceSize</key>
			<string>{177, 117}</string>
		</dict>
		<key>characters/red_foot_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{1526, 505}, {176, 117}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 1}, {176, 117}}</string>
			<key>sourceSize</key>
			<string>{180, 120}</string>
		</dict>
		<key>characters/red_foot_iso.png</key>
		<dict>
			<key>frame</key>
			<string>{{3928, 1724}, {174, 135}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {174, 135}}</string>
			<key>sourceSize</key>
			<string>{174, 135}</string>
		</dict>
		<key>characters/red_head_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{1175, 1}, {585, 502}}</string>
			<key>offset</key>
			<string>{0, 29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {585, 502}}</string>
			<key>sourceSize</key>
			<string>{585, 561}</string>
		</dict>
		<key>characters/red_head_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{588, 1}, {585, 502}}</string>
			<key>offset</key>
			<string>{0, 55}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37, 1}, {585, 502}}</string>
			<key>sourceSize</key>
			<string>{660, 615}</string>
		</dict>
		<key>characters/red_head_propeller.png</key>
		<dict>
			<key>frame</key>
			<string>{{3928, 1457}, {265, 150}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {265, 150}}</string>
			<key>sourceSize</key>
			<string>{265, 151}</string>
		</dict>
		<key>characters/red_head_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {585, 502}}</string>
			<key>offset</key>
			<string>{0, 33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {585, 502}}</string>
			<key>sourceSize</key>
			<string>{585, 569}</string>
		</dict>
		<key>characters/red_symbol.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 505}, {527, 527}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {527, 527}}</string>
			<key>sourceSize</key>
			<string>{527, 527}</string>
		</dict>
		<key>characters/teal_foot_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{3979, 1101}, {176, 116}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {176, 116}}</string>
			<key>sourceSize</key>
			<string>{177, 117}</string>
		</dict>
		<key>characters/teal_foot_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{1526, 624}, {176, 117}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 1}, {176, 117}}</string>
			<key>sourceSize</key>
			<string>{180, 120}</string>
		</dict>
		<key>characters/teal_foot_iso.png</key>
		<dict>
			<key>frame</key>
			<string>{{2188, 871}, {174, 135}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {174, 135}}</string>
			<key>sourceSize</key>
			<string>{174, 135}</string>
		</dict>
		<key>characters/teal_head_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{2920, 517}, {455, 528}}</string>
			<key>offset</key>
			<string>{0, 27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {455, 528}}</string>
			<key>sourceSize</key>
			<string>{457, 585}</string>
		</dict>
		<key>characters/teal_head_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{3499, 466}, {455, 528}}</string>
			<key>offset</key>
			<string>{0, 31}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {455, 528}}</string>
			<key>sourceSize</key>
			<string>{457, 592}</string>
		</dict>
		<key>characters/teal_head_side.png</key>
		<dict>
			<key>frame</key>
			<string>{{3499, 1}, {463, 530}}</string>
			<key>offset</key>
			<string>{-55, 31}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {463, 530}}</string>
			<key>sourceSize</key>
			<string>{575, 593}</string>
		</dict>
		<key>characters/teal_symbol.png</key>
		<dict>
			<key>frame</key>
			<string>{{3450, 923}, {527, 527}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {527, 527}}</string>
			<key>sourceSize</key>
			<string>{527, 527}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>characters.png</string>
	</dict>
</dict>
</plist>
