<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>items/item_flag_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {395, 167}}</string>
			<key>offset</key>
			<string>{1, -6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 43}, {395, 167}}</string>
			<key>sourceSize</key>
			<string>{420, 240}</string>
		</dict>
		<key>items/item_flag_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 170}, {395, 167}}</string>
			<key>offset</key>
			<string>{1, -6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 43}, {395, 167}}</string>
			<key>sourceSize</key>
			<string>{420, 240}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>items.png</string>
	</dict>
</dict>
</plist>
