<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>tiles/tile_metal_blue_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{525, 1311}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_blue_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{787, 1311}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_blue_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{777, 1}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_blue_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2087, 525}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_blue_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{3135, 1}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_blue_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{787, 3407}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_blue_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{525, 2359}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_blue_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1049, 2883}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_blue_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{263, 2329}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_blue_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1049, 1573}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_blue_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{263, 1543}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_blue_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1301, 1}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_blue_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2853}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_blue_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{787, 2359}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_blue_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2349, 525}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_green_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1049, 3145}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_green_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2873, 263}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_green_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{525, 2097}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_green_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2349, 1}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_green_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{515, 525}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_green_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{787, 2097}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_green_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{3397, 263}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_green_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1039, 1}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_green_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{777, 525}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_green_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1805}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_green_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{3397, 1}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_green_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1301, 263}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_green_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{525, 3407}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_green_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{263, 2853}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_green_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{3659, 263}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_pink_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1049, 2359}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_pink_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{525, 3669}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_pink_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{263, 3639}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_pink_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{1563, 525}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_pink_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2873, 1}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_pink_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{787, 2621}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_pink_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{525, 1835}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_pink_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{515, 1049}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_pink_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1301, 787}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_pink_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 3377}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_pink_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{787, 3145}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_pink_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2329}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_pink_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1039, 1049}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_pink_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{1825, 525}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_pink_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1039, 263}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_purple_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2087, 263}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_purple_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1049, 1311}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_purple_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{1563, 263}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_purple_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{515, 1}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_purple_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{525, 3145}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_purple_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{1049, 1835}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_purple_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{2349, 263}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_purple_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{777, 1049}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_purple_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1563, 1}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_purple_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{515, 263}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_purple_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{787, 1573}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_purple_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2611, 263}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_purple_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{525, 1573}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_purple_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2087, 1}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_purple_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{515, 787}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_red_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2591}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_red_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{263, 2067}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_red_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{1301, 525}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_red_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 3115}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_red_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{787, 2883}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_red_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2067}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_red_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{1039, 787}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_red_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1825, 263}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_red_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1049, 3669}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_red_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{787, 1835}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_red_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{525, 2621}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_red_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{263, 3377}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_red_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1543}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_red_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{3659, 1}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_red_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1049, 2621}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_teal_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{777, 787}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_teal_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{787, 3669}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_teal_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{525, 2883}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_teal_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{263, 1805}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_teal_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{3135, 263}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_teal_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{1825, 1}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_teal_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{1039, 525}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_teal_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2611, 1}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_teal_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{777, 263}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_teal_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1049, 3407}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_teal_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{263, 3115}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_teal_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1049, 2097}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_teal_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{263, 2591}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_teal_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{1301, 1049}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_metal_teal_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 3639}, {260, 260}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {260, 260}}</string>
			<key>sourceSize</key>
			<string>{260, 260}</string>
		</dict>
		<key>tiles/tile_sand_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {512, 512}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {512, 512}}</string>
			<key>sourceSize</key>
			<string>{512, 512}</string>
		</dict>
		<key>tiles/tile_sand_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 515}, {512, 512}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {512, 512}}</string>
			<key>sourceSize</key>
			<string>{512, 512}</string>
		</dict>
		<key>tiles/tile_sand_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1029}, {512, 512}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {512, 512}}</string>
			<key>sourceSize</key>
			<string>{512, 512}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>tiles.png</string>
	</dict>
</dict>
</plist>
